.footer{
    width: 100%;
    padding: 1em 0;
    background-color: rgba(19, 19, 19, 0.8);
    .footer-container{
        max-width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        .left{
            height: 100%;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            padding: 1em 1em 1em 4em;
            .phone{
                display: flex;
                flex-direction: row;
                
            }
            .email{
                display: flex;
                flex-direction: row;
                margin-top: 1rem;
            }
            .location{
                display: flex;
                margin-bottom: 0.5rem;
            }
            .fahome{
                font-size: 20px;
                color: #fff;
                margin-right: 2%;
            }
            .faphone{
                font-size: 20px;
                color: #fff;
                margin-right: 2%;
            }
            .famailbulk{
                font-size: 20px;
                color: #fff;
                margin-right: 2%;
                
            }
        }
        .right{
            height: 100%;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            padding: 1em 1em 1em 25em;
            h4{
                padding-bottom: 0.5em;
            }
            .social{
                margin-top: 1rem;
                font-size: 28px;
                color: #fff;
                .hover-up{
                    transition: transform 0.5s;
                    &:hover{
                        transform: translateY(-5px);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .footer{
        .footer-container{
            max-width: 100%;
            .left{
                padding: 1em 1em 1em 3em;
            }
            .right{
                padding: 1em 1em 1em 15em;
            }
        }
    }
}


@media screen and (max-width: 640px){
    .footer{
        .footer-container{
            margin-left: auto;
            grid-template-columns: 1fr;
            .left{
                padding: 1em;
                .fahome{
                    margin-right: 3%;
                }
                .faphone{
                    margin-right: 3%;
                }
                .famailbulk{
                    margin-right: 3%;
                    
                }
            }
            .right{
                padding: 1em;
                .social{
                    .hover-up{
                        transition: transform 0;
                        &:hover{
                            transform: none;
                        }
                    }
                }
            }
        } 
    }
}